<header>
  <nav class="navbar navbar-dark bg-dark fixed-top position-relative">
    <div class="container-fluid">
      <a class="navbar-brand link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover mx-3" href=" {% url "contact:index" %} "> 
        <svg xmlns="http://www.w3.org/2000/svg" width="23" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 15 17">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
        </svg> | Agenda de Contatos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><a class="navbar-brand link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href=" {% url "contact:index" %} ">Contatos de Sávio</a></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href=" {% url "contact:create" %} ">Create Contact</a>
            </li>
            <li class="nav-item mb-3">
              <a class="nav-link active" href="#">Link</a>
            </li>
          </ul>
          <form class="d-flex" role="search" method="GET" action=" {% url "contact:search" %} ">
            <input class="form-control me-2 alert-warning" type="search" placeholder="Search" aria-label="Search" id="search" name="q" value="{{search_value}}">
            <button class="btn btn-outline-warning" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 18">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button>
          </form>

          <!-- <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search" name="q" value="{{ search_value }}">
                      <button class="btn btn-outline-warning" type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 18">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                      </button>
                  </form> -->
        </div>
      </div>
    </div>
  </nav>
</header>