{% extends "global/base.html" %}

{% block corpo %}

<div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center mx-3">
        {% comment %} <div class="col-md-4">
            <img  class="img-fluid rounded-start" alt="...">
        </div> {% endcomment %}
        <h5 class="fs-2"> {{ contact.first_name }} {{ contact.last_name }}</h5>
        <p class="fs-5">{{ contact.email }}</p>
        <p class="fs-5">{{ contact.phone }}</p>
        <p class="fs-5">{{ contact.created_date }}</p>
        <p class="fs-5">{{ contact.category.name }}</p>
        <p class="fs-5">{{ contact.description }}</p>
        <p class="fs-5"><small class="text-body-secondary"> ID: {{ contact.id }}</small></p>
        <div class="d-flex">    
            <a class="btn btn-primary w-25 me-3" href=" {% url "contact:update" contact.id %} ">Editar</a>
            <form action="{% url "contact:delete" contact.id %}" class="w-25" method="post">
                {% csrf_token %}
                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes" >
                    <button class="btn btn-danger w-100" type="submit">Confirma?</button>
                {% else %}
                    <button class="btn btn-danger w-100" type="submit">Deletar</button>
                {% endif %}
                
            </form>
        </div>
    </div>
</div>

{% endblock corpo %}