{% extends "global/base.html" %}

{% block corpo %}

<div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center ">
        {% comment %} <div class="col-md-4">
            <img  class="img-fluid rounded-start" alt="...">
        </div> {% endcomment %}
        <h5 class="fs-2"> {{ contact.first_name }} {{ contact.last_name }}</h5>
        <p class="fs-5">{{ contact.email }}</p>
        <p class="fs-5">{{ contact.phone }}</p>
        <p class="fs-5">{{ contact.created_date }}</p>
        <p class="fs-5">{{ contact.category.name }}</p>
        <p class="fs-5">{{ contact.description }}</p>
        <p class="fs-5"><small class="text-body-secondary"> ID: {{ contact.id }}</small></p>
    </div>
</div>

{% endblock corpo %}