{% extends "global/base.html" %}

{% block corpo %}
<div class="d-flex align-items-center justify-content-center mx-lg-5 m-4 w-100 flex-wrap">
  {% if contact.id %}    
  <div class="mb-3 d-flex align-items-center justify-content-center" style="width: 50vh;">
        {% if contact.picture %}
          <img alt="{{contact.first_name}} {{contact.last_name}}" src="{{contact.picture.url}}" style="object-fit: cover; height: 45vh; width: 45vh;" class="rounded-circle border border-4 border-warning shadow-big img-fluid">
        {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" width="45vh" height="45vh" fill="#3212529" class="bi bi-person-circle rounded-circle border border-4 border-warning s hadow-big img-fluid" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        {% endif %}
    
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center" style="width: 65vh;">
        <div class="card-body mx-5">
          <h5 class="card-title fs-1 mb-3">{{ contact.first_name }} {{ contact.last_name }}</h5>
          <p class=""><span class="fw-bold">Email: </span> <br>{{ contact.email }}</p>
          <p class=""><span class="fw-bold">Telefone:</span> <br> {{ contact.phone }}</p>
          <p class=""><span class="fw-bold">Data de Criação:</span> <br> {{ contact.created_date }}</p>
          <p class=""><span class="fw-bold">Categoria:</span> <br> {{ contact.category.name }}</p>
          <p class="text-break"><span class="fw-bold">Descrição:</span> <br> {{ contact.description }}</p>
          <p class="card-text"><small class="text-body-secondary"><span class="fw-bold">ID:</span> <br> {{ contact.id }}</small></p>
        {% if user == contact.owner %}
          <div class="d-flex justify-content-around ">
                <a class="btn btn-primary fw-semibold w-100 me-2" href=" {% url "contact:update" contact.id %} ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg>  Editar
                </a>
                <form action="{% url "contact:delete" contact.id %}" class="w-100 ms-2" method="post">
                    {% csrf_token %}
                    {% if confirmation == 'no' %}
                        <input type="hidden" name="confirmation" value="yes" >
                        <button class="btn fw-semibold btn-outline-dark w-100" type="submit">Confirma?</button>
                    {% else %}
                        <button class="btn fw-semibold btn-danger w-100" type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                          </svg>  Deletar
                        </button>
                    {% endif %}
                </form>
            </div>
          {% endif %}
        </div>
      </div>
      {% else %}

      <h1 class="fs-2 form-text">{{saida_contato}}</h1>

      {% endif %}
    </div>

{% endblock corpo %}

