{% extends "global/base.html" %}

{% block corpo %}

<div class="container m-3 ">
    <h2 class="mb-3 fs-4 form-text">Create Contact</h2>
    <form class="row g-3 needs-validation" action="" method="POST" enctype="multipart/form-data"  novalidate>
        {% csrf_token %}
        <div class="col-md-4 position-relative">
          <label for="validationTooltip01" class="form-label">First name</label>
          <input type="text" class="form-control border-1 border-warning shadow-big" name="first_name" id="validationTooltip01" required>
          <div class="valid-tooltip">
            Certo!
          </div>
        </div>
        <div class="col-md-4 position-relative">
          <label for="validationTooltip02" class="form-label">Last name</label>
          <input type="text" class="form-control border-1 border-warning shadow-big" id="validationTooltip02" required>
          <div class="valid-tooltip">
            Certo!
          </div>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltipUsername" class="form-label">Photo</label>
            <div class="input-group">
                <input type="file" class="form-control border-1 border-warning shadow-big" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
        </div>
        <div class="col-md-6 position-relative">
          <label for="validationTooltip03" class="form-label">City</label>
          <input type="text" class="form-control border-1 border-warning shadow-big" id="validationTooltip03" required>
          <div class="invalid-tooltip">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3 position-relative">
          <label for="validationTooltip04" class="form-label">State</label>
          <select class="form-select border-1 border-warning shadow-big" id="validationTooltip04" required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid state.
          </div>
        </div>
        <div class="col-md-3 position-relative">
          <label for="validationTooltip05" class="form-label">Zip</label>
          <input type="text" class="form-control border-1 border-warning shadow-big" id="validationTooltip05" required>
          <div class="invalid-tooltip">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-warning shadow-big" type="submit">Submit form</button>
        </div>
      </form>
</div>

{% endblock corpo %}